.post-inline-cta {
	background: #484848;
    padding: 2.55em 0 6.35rem;
    border-bottom: 2px solid $c-accent;
    
    h4 {
	    color: #fff;
        font-size: rem-calc(50px);
        font-weight: 700;
        margin-bottom: 1.7rem;
    }
    
    .btn {
		white-space: normal;
	 	background: transparent;
		font-size: 1.375rem;
	    line-height: 1.4545;
	    color: #fff;
	    border: 1px solid #fff;
	    text-transform: uppercase;
	    display: inline-block;
	    margin-right: 3.25em;
	    padding: 0.51em 1.021em 0.72em;
	    transition: all 0.3s ease;
	   
	&:hover {
	    background-color: #fff;
	    text-decoration: none;
	    color: #C31A8F;
	}
	    
    }
    
    .inline-cta-actions {
        display: flex;
        justify-content: center;
    }
    
}