.module-four-column{
    .module-title{
        margin-bottom: 2em;
    }
    .content-block{
        margin-bottom: 1.33em;
        h4{
            margin-bottom: 1.33rem;
            font-weight: 700;
        }
    }
}