.module-hero { 
	color: #fff;
	padding: 0 0 40px;

@media (min-width: 420px) { 
	padding: 12vw 0 10vw;
}
	
@media (min-width: 1400px) { 
    padding: 224px 0 259px;
}

.container.no-left-offset {
	padding-left: 40px;
	padding-right: 20px;
	
	@media (min-width: 768px) {
		padding-left: 60px;
		padding-right: 30px;
	}
	
}

 h2 { 
	font-size: 2.75em;
	line-height: 1.4em;
	font-weight: 600;
	
@media (min-width: 420px) {
	font-size: rem-calc(85px);
}
	
}

 h3 { 
	font-size: 1.875em;
	margin-top: -0.1em;
	line-height: 1.4em;
@media (min-width: 420px) {
	font-size: rem-calc(60px);
}

}

}

