.module-leadin { 
	font-size: 1em;
	margin-bottom: 3.34em; 	
	
	&.needs-top-padding {
		padding-top: 3.34em;
	}

&.offset {
	.col-xl-10 {
		@media (min-width: 1024px) { 
			margin-left: 16.666667%;
		}
	}
	
	h3 {
		line-height: 1.35;
		margin-bottom: 0;
	    padding-bottom: 1.58em;
		    
		@media (min-width: 1024px) {
			font-size: rem-calc(37px);
		}
	}

	p {
		@media (min-width: 1024px) {
			font-size: rem-calc(30px);
		}
	}
	
}
	
&.manifesto-bold-headings {
	h3 {
	    font-weight: 900;
	    font-size: rem-calc(99px);
	    line-height: 1.4;
	    text-transform: uppercase;		
	}
	
	h4 {
		font-size: rem-calc(69px);
		line-height: 1.24;
		color: $c-accent;
	}
	
}
	
}

.module-leadin .section-title{ display: block; }
.module-leadin .section-title .back-link{ display: flex; align-items: center; margin-bottom: 1rem; width: 100%; }
.module-leadin .section-title .back-link a{ font-size: 18px; font-weight: 600; }
.module-leadin .section-title .back-link a:hover{ text-decoration: none; }
.module-leadin .section-title .back-link a:hover span{ text-decoration: none; }
.module-leadin .section-title .back-link a:hover span span{ text-decoration: underline !important; }
.module-leadin h2 { font-size: $font-size_step-up-5; font-weight: 700; color: #000; }
.module-leadin .content{ margin-bottom: 0; }
.module-leadin .content.bottom-border{ 
	padding-bottom: 4.666rem; border-bottom: 2px solid #000; 
}

.module-leadin {
	
	.section-title {
		&.hide_divider {
			border-bottom: 0px;
		}
	}
}

@media (min-width: 768px) { 
    .module-leadin .section-title{ display: flex; justify-content: space-between; }
    .module-leadin .section-title .back-link{ width: auto; }
}