.brand-audit-heading {
	h1 {
		font-size: rem-calc(50px);
		line-height: 1;
		
		@media (min-width: 580px){
			font-size: rem-calc(50px);
		}
		
	}
}

.brand-audit-button a {
	position: relative;
	display: inline-block;
	font-size: rem-calc(30px);
    line-height: 1;
    font-weight: bold;
    background-color: #C31A8F;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
	border: 1px solid #C31A8F;
    padding: 0.56em 1.021em 0.67em;
    margin-top: 2.1em;
    transition: all 0.3s ease;
    
    @media (min-width: 580px) {
		font-size: rem-calc(50px);
    }
    
    &:before {
	    content: 'Thank You!';
	    position: absolute;
	    bottom: -70px;
	    left: 0;
	    right: 0;
	    width: 100%;
	    text-align: center;
	    color: #292929;
	    opacity: 0;
	    transform: translateY(20px);
	    transition: all 0.3s ease;
    }
    
    &:hover {
	    color: #C31A8F;
	    background-color: #fff;
    }
    
    &.clicked {
	    &:before {
		    opacity: 1;
		    transform: translateY(0px);
	    }
    }
    
}



